*{
    font-family: sans-serif, Arial, Helvetica;
    box-sizing: border-box;
}

body, ul{
    margin: 0;
    padding: 0;
}

body{
    /* width: 450mm; */
    /* border: 1px solid red; */
    height: 299mm;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/camouflage___united_states.jpg);
}

.container{
    width: 210mm;    
    height:297mm;  
    /* width: 796.661608px;
    height:1126.707px; */
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title{
    width: 90%;
    height: 20%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content{
    width: 90%;
    height: 45%;
    /* border: 1px solid blue; */
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    padding: 5px;
}

.content p{
    font-size: 14px;
    text-align: justify;
}

.pictures{
    width: 90%;
    height: 25%;
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logotype{
    width: 30%;
    height: 95%;
    /* border: 1px solid brown; */
    display: flex;
    justify-content: center;
}

.subdivision_name{
    width: 60%;
    height: 95%;
    /* border: 1px solid brown; */
}

.title .logotype img{
    /* max-width: 100%; */
    /* max-height: 100%; */
    /* margin: 0 auto; */
}

.title .subdivision_name{
    color: #ab2221;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.content .photo_shef .photo_and_descr{
    float: left;
    padding: 5px;
}

.content .photo_shef .photo_and_descr .descr{
    border: 2px solid blue;
    width: 200px;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}

/*для группировки слайдов по строкам-столбцам в зависимости от ширины экрана*/
@media(min-width: 1401px){
    body{
        width: 450mm;
    }
}

@media(max-width: 1400px){
    body{
        max-width: 450mm;
    }
}

/**/

/* @media(min-width: 451px) and (max-width: 700px){ */
@media(max-width: 700px){
    .title {
        flex-direction: column;
        align-items: flex-start;
    }

    .container {
        margin-bottom: 800px;
    }

    .content {
        height: 50%;
    }

    .content .photo_shef{
        display: flex;
        flex-wrap: wrap;
    }

    .content .photo_shef p{
        max-width: 300px;
    } 

}

@media(max-width: 450px){
    .container {
        width: 450px;
    }

    .title {
        width: 90%;
        margin-top: 660px;
    }

    .logotype {
        width: 90%;
        margin-top: 90px;
    }

    .subdivision_name {
        width: 90%;
    }

    .content{
        padding-top: 100px;
    }

    .content .photo_shef p {
        max-width: 350px;
    }

    .pictures{
        margin-top: 760px;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .pictures img{
        border: 1px solid blue;
        margin-top:10px;
        /* height: 100%; */
        height: 440px;
    }


}


    /* .content .photo_shef .photo_and_descr p{
        font-size: 8px;
        text-align: center;
    } */

    



    /* .content{
        align-items: flex-start;
    }

    .pictures {
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: auto;
        height: auto;
    } */
    
